.footer {
  height: 400px;
  padding: 40px;
  display: flex;
  background-color: #252B3B;
}
.socials {
  margin-left: 10px;
  height: 100%;
  width: 300px;
}
.footer-logo {
  display: flex;
  margin-bottom: 50px;
}
.footer-logo-text {
  color: white;
  font-size: 50px;
  font-weight: 800;
  font-family: 'Mulish', sans-serif;
}
.footer-logo-dot {
  height: 10px;
  width: 10px;
  background-color: #0BBEF2;
  margin-top: 40px;
}
.footer-links {
  width: 250px;
  margin-left: 20px;
}
.footer-texts {
  font-family: 'Mulish', sans-serif;
  color: white;
  margin-top: 20px;
  font-size: large;
  font-weight: 600;
}
.footer-title {
  font-family: 'Mulish', sans-serif;
  color: white;
  margin-top: 37px;
  font-size: large;
  font-weight: 700;
  margin-bottom: 50px;
}
.footer-email {
  margin-left: 50px;
}
.footer-email-title {
  color: white;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: x-large;
  margin-top: 30px;
}
.footer-input {
  margin-top: 30px;
  height: 60px;
  width: 350px;
  padding-left: 20px;
  border: 0;
  color: #4DA0FD;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
}
.footer-input::placeholder {
  color: #4DA0FD;
}